body{
    font-family: 'M PLUS 1p', sans-serif;
}
/*ボタンのクラスはこれでお願いします*/
.btn-primary{
    color: #fff;
    background-color: #00ffc4;
    border-color: #00ff9d;
}
.btn-secondary{
    color: #fff;
    background-color: #ffa200;
    border-color: #ffa200;
}
.btn-rounded {
    border-radius: 10rem;
}
/*ここまでBootstrapのうわがき*/

.top{
    margin:0 auto;
}
.top-visual{
    width: 100%;
    height: 250px;
    text-align: center;
    background-image: url(../img/top.jpg);
    background-size: cover;
    background-position: center;
}
.top-item{
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 10px;
}
.top-comment{
    /*font-family: 'Glory', sans-serif;*/
    font-family: 'Allison', cursive;
    color: #7a7a7a;
}
.top-image{
    width:40%;
    height:100px;
    margin:20px auto;
}
.top-card{
    margin:20px 30px;
    background-color: #f8f2f2;
}
.top-card-title{
    border-bottom: 8px solid #e5e3e3;
    text-align: center;
    line-height: 0.6;
    margin-bottom: 10px;
    font-weight:bold;
    color: #8793d7;
}

.detail-content{
    margin : 0px 20px 0px 20px;
}

