body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #faf9f5;
}

/*ボタンのクラスはこれでお願いします*/
.btn-primary {
    color: #fff;
    background-color: #8bb4c3;
    border-color: #8bb4c3;
}

.btn-secondary {
    color: #fff;
    background-color: #d4abc8;
    border-color: #d4abc8;
}
.btn-rounded {
    border-radius: 10rem;
}
/*ここまでBootstrapのうわがき*/

.bg-light {
    background-color: #f7f4e6 !important;
}

.logo {
    height: 40px;
}

.top {
    margin: 0 auto;
}

.top-visual {
    width: 100%;
    height: 250px;
    text-align: center;
    border-bottom: 5px solid #e5e3e3;
    border-top: 5px solid #e5e3e3;
    /*background-image: url(../img/top.jpg);*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.top-item {
    width: 100%;
    height: 250px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    text-align: center;
    /*padding-top: 10px;*/
}

.top-comment {
    /*font-family: 'Glory', sans-serif;*/
    font-family: 'Allison', cursive;
    color: #7a7a7a;
}

.top-comment2 {
    /*font-family: 'Glory', sans-serif;*/
    font-family: 'Allison', cursive;
    font-size: 10px;
    color: #7a7a7a;
}

.top-image {
    width: 70%;
    height: 100px;
    margin: 20px auto;
}

.top-card {
    margin: 20px 30px;
    background-color: #f8f2f2;
}

.top-card-title {
    border-bottom: 8px solid #e5e3e3;
    text-align: center;
    line-height: 0.6;
    margin-bottom: 10px;
    font-weight: bold;
    color: #8793d7;
}

.detail-content{
    margin : 0px 20px 0px 20px;
}
